.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /*
  outline: 1px solid red;
  */
}

html {
  font-size: 16;
}

body {
  background: #FD8CAC;
  color: #460115;
  font-family: Verdana, sans-serif;
}

.cover-image img {
  width: 90%;
  height: auto;
}

main {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "home cover-image"
  "ueber-schmatzi ueber-schmatzi"
  "arschpopo arschpopo"
  "kontakt kontakt";
}

.cover-image {
  grid-area: cover-image;
  padding: 25px;
  width: 100%;
  margin: auto;
}

#Home {
  grid-area: home;
}

#Ueber_Schmatzi {
  grid-area: ueber-schmatzi;
}

#Arschpopo {
  grid-area: arschpopo;
}

#Kontakt {
  grid-area: kontakt;
}

[id] {
  scroll-margin-top: 120px;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #FB326B;
  color: #FEE6ED;
}

.heading-combo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: fit-content;
  font-size: 2rem;
  padding: 0;
  margin: 10px 20px 0 20px;
}

.sub-heading {
  width: fit-content;
  padding: 0;
  margin: 10px 0 20px 0;
}

.navbar {
  display: flex;
  align-self: flex-end;
  margin: 10px;
}

.header li {
  list-style: none;
  margin: 10px;
}

.navbar a {
  text-decoration: none;
  color: #FEE6ED;
}

h2, p {
  margin: 20px;
}

@media screen and (max-width: 700px) {
  .navbar {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
}

@media screen and (max-width: 1024px) {
  main {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "cover-image"
  "home"
  "ueber-schmatzi"
  "arschpopo"
  "kontakt";
}
}